@model TestI18n.Models.HomeViewModel
@{
    ViewBag.Title = "Home Page";
}

@using (Html.BeginForm())
{
    <div class="jumbotron">
        <h1>@TestI18n.App_GlobalResources.I18N.Hi</h1>
        <h1>@TestI18n.App_GlobalResources.I18N.Name</h1>
        
        <p>@Html.LabelFor(x => x.Hi)</p>
        <p>@Html.TextBoxFor(x => x.Hi, new { @class = "form-control" })</p>
        <p>@Html.ValidationMessageFor(x => x.Hi)</p>

        <p>@Html.LabelFor(x => x.Name)</p>
        <p>@Html.TextBoxFor(x => x.Name, new { @class = "form-control" })</p>
        <p>@Html.ValidationMessageFor(x => x.Name)</p>
        <p><button class="btn btn-primary btn-lg">Submit</button></p>

        <div>@Html.ValidationSummary()</div>
    </div>
}